@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-primary text-white font-semibold py-2 px-4 rounded hover:bg-blue-700 transition duration-200;
  }
}
